.img-area
    .img-area-mask
    img(src='images/cities/berlin.jpg')
    .img-area-front
        span.location Berlin
        span.today Sunday, July 27, 18:00
        .weather-desc
            span Sunny
        ul.weather-block-info
            li
                span.temperature 25
                    span.temperature-unit celsius
