@font-face {
    font-family: 'Groupon';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Groupon/Groupon-v2.5.eot');
    src: url('fonts/Groupon/Groupon-v2.5.eot?#iefix') format('embedded-opentype'),
    url('fonts/Groupon/Groupon-v2.5.woff2') format('woff2'),
    url('fonts/Groupon/Groupon-v2.5.woff') format('woff'),
    url('fonts/Groupon/Groupon-v2.5.ttf') format('truetype'),
    url('fonts/Groupon/Groupon-v2.5.svg#Groupon') format('svg')
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#mapContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#footer {
    position: relative;
    float: right;
    text-align: center;
    padding: 1.7em;
    z-index: 2;
}

#grouponLogo:before {
    font-family: 'Groupon';
    content: '\e073';
    color: #82b548;
    font-size: 60px;
    display: inline-block;
}

#title {
    font-weight: 500;
}

.defaultPopup {
    background: none;
}
